* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
  line-height: 1.4;

  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

  background: #dae2f8;
  background: -webkit-linear-gradient(to right, #d6a4a4, #dae2f8);
  background: linear-gradient(to right, #d6a4a4, #dae2f8);

  background: #ffefba;
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba);
  background: linear-gradient(to right, #ffffff, #ffefba);

  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);

  color: #fff;
}

.root {
  width: clamp(300px, 80vw, 700px);
  margin: auto;
  padding: 80px 0;

  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
}

.root > * {
  margin-bottom: 25px;
}

.root h1 {
  margin-bottom: 60px;
  font-size: 2.6rem;
}

.root form {
  width: 80%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  border-radius: 50px;
  overflow: hidden;
}

.root form input[type="url"] {
  flex-grow: 1;
  font-size: 1rem;
  padding: 12px 18px;

  width: inherit;
}

.root form input:focus {
  outline: none;
}

.root form input[type="submit"] {
  /* padding: 12px 18px; */
  padding: 6px 16px;
  /* flex-shrink: 0; */
  /* width: 200px; */

  text-transform: capitalize;
  font-weight: bold;
  background-color: rgb(228, 59, 59);
  color: #fff;

  font-size: 1rem;
  cursor: pointer;
}

.root form input[type="submit"]:hover {
  background-color: rgb(211, 54, 54);
}

.root form input[type="submit"]:active {
  background-color: rgb(190, 47, 47);
}

.root footer {
  position: absolute;
  bottom: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
